body{
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}
h1 {
    font-size: 50px;
    font-weight: normal;
    color: white;
}

.link{
    color: Aquamarine;
    font-size: 16px;
}

h2{
    font-size: 42px;
    font-weight: 300;
}

.excursion{
    color: Gray;
    font-size: 21px;
}

.footer{
    text-align: right;
}